<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itxj.ymb.mapper.ArticleMapper">
    <resultMap id="articleMap" type="itxj.ymb.pojo.Article">
        <id property="id" column="article_id"/>
        <result property="title" column="val_title"/>
        <result property="publishDate" javaType="string" jdbcType="DATE" column="val_publish_date"/>
        <result property="updateDate" javaType="string" jdbcType="DATE" column="val_update_date"/>
        <result property="section" column="val_section"/>
        <result property="statusCode" column="article_status_code"/>
        <association property="author"
                     column="user_id"
                     select="itxj.ymb.mapper.UserMapper.findUserById"/>
        <association property="category"
                     column="category_id"
                     select="itxj.ymb.mapper.CategoryMapper.findCategoryById"/>
        <collection property="labelList"
                    column="article_id"
                    select="itxj.ymb.mapper.LabelMapper.findLabelList"/>
    </resultMap>
    <select id="findArticleById" resultMap="articleMap">
        select
               *
        from
             ymb_article
        where
              article_id = #{id}
    </select>
    <select id="findArticleList" resultMap="articleMap">
        select
               *
        from
             ymb_article
        <where>
            <!-- 根据标题模糊查询 -->
            <if test="title != null and title.length > 0">
                or val_title like concat('%', #{title}, '%')
            </if>
            <!-- 根据内容模糊查询 -->
            <if test="section != null and section.length > 0">
                or val_section like concat('%', #{section}, '%')
            </if>
            <!-- 根据标题与内容模糊查询 -->
            <if test="queryString != null and queryString.length > 0">
                or val_title like concat('%', #{queryString}, '%')
                or val_section like concat('%', #{queryString}, '%')
            </if>
        </where>
        <!-- 将文章列表数据安装最近一次更新日期降序排序 -->
        order by val_update_date desc
    </select>
    <insert id="addArticle">
        insert into
            ymb_article (
                        user_id,
                        val_title,
                        val_publish_date,
                        val_update_date,
                        val_section,
                        category_id
                        )
        values (
                #{author.id},
                #{title},
                #{publishDate},
                #{updateDate},
                #{section},
                #{category.id}
               )
    </insert>
    <delete id="deleteArticle">
        delete from
                    ymb_article
        where
            article_id = #{id}
            and user_id = #{author.id}
    </delete>
    <update id="updateArticle">
        update ymb_article
        <set>
            val_update_date = #{updateDate},
            <if test="title != null and title != ''">
                val_title = #{title},
            </if>
            <if test="section != null and section != ''">
                val_section = #{section},
            </if>
        </set>
        where
            article_id = #{id}
            and user_id = #{author.id}
    </update>
</mapper>
